body {
    background-color: #f8f8f8;
    font-family: sans-serif
}

.header{
    height: 120px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 1200px;
    margin: 0 auto;
    clear: both;
}

.logo_img{
    height: 120px;
}

.footer{
    height: 50px;
    background-color: #ccc;
    color: white;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

.menu{
    list-style-type: none;
    display: flex;
/*    flex-grow: 1;*/
}

.menu_link{
    color: steelblue;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 40px;
    display: block;
}

.menu_link:hover{
    color: lightskyblue;
}

.menu_in{
    position: absolute;
    text-decoration: none;
    background-color: #eee;
    list-style-type: none;
    display: none;
    padding-left: 0px;
    padding-top: 10px;
}

.menu_link:hover .menu_in{
    display: block;
}
.section_link{
    color: steelblue;
    text-decoration: none;
    font-size: 20px;
}

.content{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.book_link{
    width: 200px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #2d3e54;
    text-align: center;
}

.title_header{
    color: #2d3e54;
    font-size: 30px;
    font-weight: 400;
    font-family: monospace;
}
.medium_header{
    font-size: 24px;
    color: #2d3e54;
    font-weight: 400;
}
.small_header{
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
h4{
    font-size: 20px;
    color: #2d3e54;
    font-weight: 400;
}

.price{
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
    color: black;
}

.full_description{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.full_description:first-letter{
    color: cadetblue;
    font-size: 20px;
    font-family: serif;
}


/*
.characteristics{
    color: #707070;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    list-style-image: url(images/dot.jpg);
    height: 30 px;
    text-align: left;
    list-style-type: none;
}
*/

.table_characteristics{
    color: #707070;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    display: flex;
}

.text{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.small_text{
    color: #484343;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.catalog_link{
    color: #484343;
    text-decoration: none;
    font-size: 24px;
    line-height: 40px;
}

input[type="text"] {
    color: #484343;
    font-size: 14px;
    font-weight: 400;
    width: 200px;
}

input[type="text"]:focus, textarea[type="text"]:focus {
    text-transform: capitalize;
    background-color: lightcyan;
}

input[type="email"] {
    color: #484343;
    font-size: 14px;
    font-weight: 400;
    width: 187px;
}

input[type="email"]:focus {
    color: #000;
    background-color: lightcyan;
}

.feedback{
    width: 200px;
}

.small_img{
    height: 300px;
}
.big_img{
    width: 500px;
}

.button_buy{
    display: block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: purple;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}

.button_buy:hover{
    border: 1px solid purple;
    color: white;
    background-color: mediumpurple;
}

.img{    
    float:left;
    margin-right: 30px;
}

.short_characteristics{
    color: #707070;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    display: flex;
    padding-left: 40px;
    padding-top: 50px;
}


.description {
    overflow: hidden;
}
